@{
    ViewData["Title"] = "Ose Benson";
}

<div class="top-container">
    <img class="top-cloud" src="images/cloud.png" alt="cloud">
    <div class="title-text">
        <h1>I'm Oseghae.</h1>
        <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="images/cloud.png" alt="cloud">
    <img class="mountain" src="images/mountain.png" alt="mountain-img">
</div>

<div class="middle-container pb-3">
    <div class="profile">
        <img src="images/Oseghr.jpg" alt="ose-profile-img" style="border-radius:50%; margin-bottom: 20px">
        <h2>Hello.</h2>
        <p class="intro">I am a Web Developer and Designer. I'm the co-founder and designer at CymWorx Inc. I love helping people solve problems</p>
    </div>
    <hr>
    <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
            <img class="code-img" src="https://media.giphy.com/media/W6MqFcH1YLWOk/giphy.gif" alt="code-img">

            <h3>Design & Development</h3>
            <p>I started learning to code by myself because I wanted to make websites and my own app. Over time, I have gained some experience designing and developing websites but not yet my own applications.</p>

        </div>
        <div class="skill-row">
            <img class="chilli-img" src="https://media.giphy.com/media/9ZL5EhLHNCKDm/giphy.gif" alt="chillies-img">

            <h3>3D Design and Modelling</h3>
            <p>While I love web design and coding. I am fascinated by 3D models and designs. Seeing the crazy things people design using Blender inspires me.</p>

        </div>
    </div>
    <hr>
    <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you love to connect and talk anytime.</h3>
        <p class="contact-message">Want to connect and talk? Let's talk about how awesome life is! We can code as well!</p>
        <a class="btn" href="mailto:oseghr@icloud.com">CONTACT ME</a>
    </div>
</div>
